:root {
  --navigation-height: 88px;
  --purple-main: #aa96da;
}
* {
  font-family: "Montserrat";
}
.gqp {
  color: var(--purple-main);
}
.muted {
  color: #8b8b8b;
}
.navigation-layout {
  height: var(--navigation-height);
}
.main-content {
  height: calc(100vh - var(--navigation-height));
}

.main-content-bg {
  background-color: #fafafa;
}
.main-content-inner-container {
  max-width: 1400px;
  margin: 0 auto;
}

.nav-shadow {
  z-index: 2;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.mobile-nav-shadow {
  z-index: 2;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}
.nav-mobile {
  display: none;
}
.bottom-mobile-nav {
  display: none;
}
.sidebar-layout {
  width: 300px;
}
.nav-link {
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 30px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
}
.mobile-nav-link {
  text-decoration: none;
  /* color: #000000; */
  /* padding: 30px 0px; */
  /* display: inline-block; */
  /* position: relative; */
  opacity: 0.75;
  cursor: pointer;
}
.nav-link-grow-up {
  color: var(--purple-main);
}
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--purple-main);
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: -5px;
}

.nav-link-grow-up::before {
  height: 5px;
}

/* BtnPrimary */
.btn-primary {
  width: 180px;
  position: relative;
  top: 20px;
  padding: 1rem;
  background-color: var(--purple-main);
  margin: 0 auto;
}
.btn-add-new {
  padding: 0.75rem 2.5rem;
  background-color: var(--purple-main);
  color: white;
}

.friendRequestBtn {
  background-color: var(--purple-main);
  margin: 2rem auto 0 auto;
  padding: 0.5rem;
  width: 95%;
}
.main-Btn {
  width: 80%;
  margin: 0 auto;
  background-color: var(--purple-main);
  padding: 1rem;
  color: white;
}

.giftQueueModal {
  max-height: 95%;
}

.friendCard {
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  height: auto;
  padding: 1.5rem;
  text-align: center;
}

.friendListCardGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(237px, 1fr));
}

.dateCard {
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  height: 95px;
  width: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.friendEventCard {
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  height: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myGiftqueueCard {
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  padding: 1rem;
}

.celebration-day-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.deleteModalDeleteBtn {
  border: 2px solid red;
  border-radius: 4px;
  padding: 1rem 4rem;
  color: red;
}

.deleteModalCancelBtn {
  border: 2px solid red;
  border-radius: 4px;
  padding: 1rem 4rem;
  background-color: red;
  color: white;
}
.friendRequestAcceptBtn {
  background-color: var(--purple-main);
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  border-radius: 8px;
  color: white;
  height: 43px;
  width: 120px;
}
.friendRequestDeclineBtn {
  background-color: white;
  box-shadow: -2px 4px 18px rgba(17, 17, 17, 0.1);
  border-radius: 8px;
  color: black;
  height: 43px;
  width: 120px;
}

@media (max-width: 1024px) {
  .sidebar-left-hidden {
    display: none;
  }
  .handle-responsive-margin {
    margin-left: 4rem;
    position: relative;
    left: 50px;
  }
}
@media (max-width: 768px) {
  .sidebar-right-hidden {
    display: none;
  }
  .handle-responsive-margin {
    left: 0px;
  }
}
@media (max-width: 640px) {
  .nav-mobile-hidden {
    display: none;
  }
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-mobile-nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0;
  }
  .btn-add-new {
    padding: 0.75rem 1.5rem;
  }
}
