:root {
  --navigation-height: 88px;
}
.navigation-layout {
  height: var(--navigation-height);
}
.main-content {
  height: calc(100vh - var(--navigation-height));
}

.sidebar-layout {
  width: 300px;
}
