:root {
  --navigation-height: 88px;
}
.navigation-layout {
  height: var(--navigation-height);
}
.main-content {
  height: calc(100vh - var(--navigation-height));
}

.sidebar-layout {
  width: 300px;
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 30px 0px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up::before {
  height: 5px;
}
